name: tests

on:
  push:
  pull_request:

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - uses: astral-sh/setup-uv@v3
        with:
          enable-cache: false
      - name: Install dependencies
        run: uv pip install --system -e ".[test]"
      - name: Run tests
        run: python -m pytest -q
